<!DOCTYPE html>
<html>
  <head>
    <title>mdns &#8212; <%= title() %></title>
    
    <% for (var s in scripts) { %>
    <script src="<%- path(scripts[s]) %>" type="text/javascript"></script>
    <% } %>
    <script type="text/javascript">
    /* <![CDATA[ */
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&uid=agnat';

      var t = document.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
    })();
    /* ]]> */
    </script>

    <% for (var s in stylesheets) { %>
    <link rel="stylesheet" href="<%- path(stylesheets[s]) %>" type="text/css"/>
    <% } %>
  </head>
  <body>
    <div id='page'>
      <a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
      <header>
        <nav>
          <ul>
            <li><a href='<%- path('/index.html') %>'>Home</a></li>
            <li><a href='<%- path('/user_guide.html') %>'>User Guide</a></li>
            <!-- <li><a href='<%- path('/build/status.html') %>'>CI</a></li> -->
            <li><a href='http://github.com/agnat/node_mdns'>GitHub</a></li>
          </ul>
        </nav>
      </header>
      <div id='content'>
        <%- body %>
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
